/* Reset margin dan padding */

body,
ul {
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  background-color: #490057; /* Warna latar belakang navbar */
  color: rgb(49, 49, 49); /* Warna teks navbar */
  padding: 0; /* Padding di dalam navbar */
  display: flex; /* Menggunakan flexbox untuk tata letak */
  flex-direction: column; /* Menata elemen secara vertikal */
  justify-content: space-between;
  background-image: linear-gradient(#5213f0, #000000);
}

.navbar-logo {
  text-decoration: none; /* Menghapus garis bawah dari tautan logo */
  transition: color 0.4s; /* Transisi warna saat hover */
  color: rgb(177, 201, 255);
  font-style: italic;
  padding-left: 15px;
}

.navbar-logo:hover {
  color: #ff3737; /* Warna logo saat hover */
}

.navbar-ul {
  list-style-type: none; /* Menghapus titik dari daftar tak terurut */
  display: flex; /* Menggunakan flexbox untuk tata letak */
  height: 60%;
  width: 100%;
}

.navbar-li {
  transition: background-color 0.3s; /* Transisi warna latar belakang saat hover */
  text-align: right;
  padding: 20px;
  width: 100%;
  height: 5%;
  text-align: center;
  color: aliceblue;
}

.navbar-li:hover {
  background-color: #cb4ed2; /* Efek hover saat kursor berada di atas elemen daftar */
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 1300px;
  background-color: black;
}

.bg-img {
  min-height: 100vh;
  background-image: url(https://images.pexels.com/photos/1749303/pexels-photo-1749303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}

header {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #bd9f7e8c, #1727d34b);
  padding: 2px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #a99674;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(133, 124, 88, 0.167);
  padding: 15px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 16px;
  font-weight: 750;
}

.navbar a:hover {
  background: #9a783dc7;
  color: rgb(0, 0, 0);
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  border-radius: 3px;
  text-align: center;
}

.content {
  margin-top: 10px;
  color: #ddd;
  width: 100%;
  height: 100%;
}

.text {
  font-style: italic;
}

span {
  color: #bd9f7e;
}

input {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #e5e5e5;
}

#seputar-kopi {
  width: 100%;
  right: 100%;
  color: #e5e5e5;
}

.logo2 {
  text-align: center;
}

.kopi-img {
  text-align: center;
  padding-top: 50px;
}

.text-kopi1 {
  color: #8e8e8e;
  background: linear-gradient(45deg, #ffffff4a, #111, #a9967469);
  margin-bottom: 6px;
  text-align: center;
  height: 100%;
  padding: 10px;
}
.text-kopi2 {
  color: #8e8e8e;
  background: linear-gradient(45deg, #111, #ffffff4a, #a9967469);
  margin-bottom: 6px;
  text-align: center;
  height: 100%;
  padding: 10px;
}
.text-kopi3 {
  color: #8e8e8e;
  background: linear-gradient(45deg, #ffffff4a, #111, #a9967469);
  margin-bottom: 6px;
  text-align: center;
  height: 100%;
  padding: 10px;
}
.text-kopi4 {
  color: #8e8e8e;
  background: linear-gradient(45deg, #ffffff4a, #a9967469, #111);
  margin-bottom: 6px;
  text-align: center;
  height: 100%;
  padding: 10px;
}
h3 {
  color: #e5e5e5;
}

.footer {
  background-color: #a89270ef;
  padding: 20px;
  text-align: center;
  color: #5e584d;
  width: 100%;
}

.link {
  text-decoration: none;
  color: #5e584d;
  padding: 15px;
}
/* Responsive layout */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .navbar a {
    display: block;
    padding: 14px;
  }

  .navbar a:hover {
    background-color: #9a783dc7;
  }

  #seputar-kopi {
    display: block;
  }

  .kopi-img img {
    width: 100%;
    height: auto;
  }

  .text-kopi1,
  .text-kopi2,
  .text-kopi3,
  .text-kopi4 {
    width: 100%;
    padding: 10px;
  }
}
